@import url('https://fonts.cdnfonts.com/css/quicksand');

@font-face {
    font-family: "Quicksand";
    src: local("Quicksand"),
     url(~assets/Quicksand/Quicksand-Regular.ttf) format("truetype");
}

html {
    font-family: "Quicksand";
}