<template>

    <div class="container-fluid">

        <div class="narbar navbar-expand-lg p-4 mb-5">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Affiliate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                </li>
                
            </ul>

        </div>
        <div>
            <section class="container">
                <div class="row">
                    <div class=col-md-6>
                        <h1 style="font-weight: bold; font-size: 3rem;">
                            Build <br />
                            Your Business <br />
                            Connections
                        </h1>
                        <p>
                            Connect with our business architects, build your network and improve lead generation all in
                            one
                            place
                        </p>
                    </div>
                    <div class="col-md-6 d-flex flex-column align-items-center gy-3">
                        <!-- <img src="/calender.png" alt="" class="" style="margin: 20px auto; height: 60%"> -->
                        <b-calendar style="margin-bottom:10px" :hide-header="true"></b-calendar>

                        <button class="btn btn-warning"> Check Availability</button>
                    </div>
                </div>
            </section>
            <section class="container p-5 g-3">
                <h2 class="headings"> Improved Lead Generation</h2>
                <div class="row d-flex justify-content-space-between flex-row">

                    <img src="pp.png" style="width:40%" class="col-md-5" />

                    <p class="col-md-7">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit
                        urna. Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit
                        urna. Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit
                        urna. Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit
                        urna. Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit
                        urna. Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in
                        hendrerit
                        urna.

                    </p>

                </div>
            </section>

            <section class="container p-3 g-3">
                <h2>Quality Leads Equal Better ROI</h2>
                <div class="row d-flex flex-row">
                    <div class="col-md-6">
                        <p>
                            lorem ipsum dolor sit amet consectetur adipiscing elijgg
                            lorem ipsum dolor sit amet consectetur adipiscing elijgg
                            lorem ipsum dolor sit amet consectetur adipiscing elijgg
                            lorem ipsum dolor sit amet consectetur adipiscing elijgg
                        </p>
                        <ul>
                            <li>
                                Pellentesque sit </li>
                            <li>amet sapien fringilla,</li>
                            <li> mattis ligula consectetur, </li>
                            <li>
                                ultrices mauris.
                            </li>

                            <li>
                                Maecenas vitae mattis tellus..
                            </li>

                        </ul>

                    </div>
                    <img src="untitled.png" style="width: 35%" />
                </div>
            </section>

            <section class="container-fluid testimony d-flex flex-column align-items-center justify-content-space-around">
                <h2>Trusted By the Industry</h2>
                <div class="d-flex flex-row justify-content-space-between mt-5">
                    <div class="portf inactive">
                        <div class="g-top">
                            <div class="img-circle">
                                <img src="calender.png" alt="" srcset="">
                            </div>

                        </div>
                        <div class="g-body d-flex flex-column align-items-center p-3 pt-5">
                            <p>
                                Company was very helpful, helping me to connect with pottential prospects. I was able to
                                signifficantly improve my business. As well as expand my network.
                            </p>
                            <br>
                            <strong>
                                CEO Bulma
                            </strong>
                        </div>

                    </div>

                    <div class="portf">
                        <div class="g-top">
                            <div class="img-circle">
                                <img src="calender.png" alt="" srcset="">
                            </div>

                        </div>
                        <div class="g-body d-flex flex-column align-items-center p-3 pt-5">
                            <p>
                                Company was very helpful, helping me to connect with pottential prospects. I was able to
                                signifficantly improve my business. As well as expand my network.
                            </p>
                            <br>
                            <strong>
                                CEO Bulma
                            </strong>
                        </div>

                    </div>


                    <div class="portf inactive" >
                        <div class="g-top">
                            <div class="img-circle">
                                <img src="calender.png" alt="" srcset="">
                            </div>

                        </div>
                        <div class="g-body d-flex flex-column align-items-center p-3 pt-5">
                            <p>
                                Company was very helpful, helping me to connect with pottential prospects. I was able to
                                signifficantly improve my business. As well as expand my network.
                            </p>
                            <br>
                            <strong>
                                CEO Bulma
                            </strong>
                        </div>

                    </div>

                </div>
                <button class="btn btn-warning btn-circle my-btn" style="position: absolute; bottom: 0px;">Contact Us</button>
            </section>

            <section class="container d-flex flex-column align-items-center g-3">
                <h2> Comfortable Plans For You</h2>
                <div class="d-flex flex-row justify-content-space-around align-items-start plans">
                    <div class="other">
                        <img src="starter.png" alt="">
                    </div>
                    <div class="">
                        <img src="ex.png" alt="">
                    </div>
                    <div class="other">
                        <img src="sec.png" alt="">
                    </div>
                </div>
                <button class="btn btn-warning btn-circle my-btn"> Learn More</button>
            </section>
        </div>
        <div class="footer">
            <div class="row">

                <div class="col-md-3">
                    <h5>Customer Care</h5>
                    <ul class="nav flex-column">
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Cancelling of Subscription</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Help and FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class=col-md-2>
                    <h5>Learn</h5>
                    <ul class="nav flex-column">
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">Affiliate</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Legal Info</h5>
                    <ul class="nav flex-column">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Service</a>
                        </li>
                        <li>
                            <a href="#">Cookie Policy</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-5 d-flex flex-column align-items-end p-3 gy-3">
                    <form action="" method="post" class="form-horizontal">
                        <div class="input-group foot-form">
                            <input type="text" placeholder="Your Email">
                            <button class="btn btn-sm btn-link">Submit</button>
                        </div>
                    </form>

                    <h5>Follow Us</h5>
                    <p class="copy">2022 All rights reserved</p>
                </div>

            </div>
            <div>

            </div>
        </div>
    </div>

</template>

<style>
.headings {
    text-align: right;
    font-size: 2em;
}

p {
    text-align: justify;
}

.plans img {
    width: 350px;

}

.plans .other img {
    width: 250px;
}

.plans .other {
    border-radius: 300px;
    width: 250px;
    ;
    margin-top: 40px;
    box-shadow: 0px 0px 10px #ccc;
}

.plans img:hover {
    cursor: pointer;

}

.footer {
    margin: -15px;
    margin-top: 50px;
    background-color: #080E41;
    color: #fff !important;
    padding: 30px 50px;
}

.footer .nav li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 1px;
    display: block;
}

.foot-form {
    border-bottom: .7px solid #fff;
    margin-bottom: 20px;
}

.foot-form input,
.foot-form button {
    border: none;
    outline: 0;
    background-color: transparent;
    color: #fff;

}

section {
    display: block;
    margin: 10px auto;
    padding: 50px 30px;
    
}

.testimony{ 
    display: block;
    position: relative;
    min-height: 500px;
}
.portf {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
}

.portf .g-top {
    
    border-radius: 5px 5px 0px 0px;
    z-index: 9999;
    border: .6px solid #ccc;
    min-height: 60px;
    width: 150px;
    background-color: #fff;
}

.portf .g-body {
    border-radius: 10px;
    top: 30px;
    border: .6px solid #ccc;
    min-height: 40px;
    width: 350px;
    background-color: #fff;
}

.g-top .img-circle img {
    border-radius: 50%;
    width: 50px;
    
}

.g-top .img-circle{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: -35px;
}

.inactive{ 
    scale: .8;
}

.nav-link{
    color: black;
    font-weight: bold;
}


</style>